In [6]:
df.loc[2-1]

ID                                   2
Age                                 69
Gender                            Male
Height_cm                          156
Weight_kg                           82
BMI                              20.86
Daily_Steps                      12803
Calories_Intake                   1650
Hours_of_Sleep                     4.5
Heart_Rate                         103
Blood_Pressure                  129/65
Exercise_Hours_per_Week            3.7
Smoker                              No
Alcohol_Consumption_per_Week         7
Diabetic                            No
Heart_Disease                       No
Name: 1, dtype: object

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('/home/danbar/Desktop/project_x/health_activity_data.csv')

In [10]:
df.iloc[1]

ID                                   2
Age                                 69
Gender                            Male
Height_cm                          156
Weight_kg                           82
BMI                              20.86
Daily_Steps                      12803
Calories_Intake                   1650
Hours_of_Sleep                     4.5
Heart_Rate                         103
Blood_Pressure                  129/65
Exercise_Hours_per_Week            3.7
Smoker                              No
Alcohol_Consumption_per_Week         7
Diabetic                            No
Heart_Disease                       No
Name: 1, dtype: object

In [19]:
df.loc[14, 'Age']

np.int64(41)

In [21]:
df.iat[1,1]

np.int64(69)

In [30]:
df.at[1,'Age'] = 69

In [31]:
df

,ID,Age,Gender,Height_cm,Weight_kg,BMI,Daily_Steps,Calories_Intake,Hours_of_Sleep,Heart_Rate,Blood_Pressure,Exercise_Hours_per_Week,Smoker,Alcohol_Consumption_per_Week,Diabetic,Heart_Disease
0,1,56,Male,164,81,30.72,5134,1796,8.6,102,137/72,8.1,No,7,No,No
1,2,69,Male,156,82,20.86,12803,1650,4.5,103,129/65,3.7,No,7,No,No
2,3,46,Female,158,65,30.93,16408,1756,4.3,74,127/68,3.2,Yes,0,No,No
3,4,32,Male,197,87,31.19,18420,2359,4.1,116,125/86,8.5,No,5,No,No
4,5,60,Male,157,63,29.37,17351,2556,5.1,111,100/64,8.5,Yes,8,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,18,Male,179,116,31.67,10095,2667,4.6,79,108/63,6.3,No,5,No,No
996,997,35,Female,170,114,23.88,11361,2351,7.2,54,98/75,2.9,No,3,No,Yes
997,998,49,Female,169,85,23.44,9531,2416,4.5,80,125/65,7.6,No,4,No,No
998,999,64,Male,155,74,22.34,5270,2080,5.8,101,129/86,5.4,No,4,No,No
999,1000,66,Female,171,86,20.64,10906,1284,8.5,72,118/83,1.3,No,1,No,No

In [32]:
# df.loc['John'] = [90, ...] thats will add john with used parameters

In [36]:
df.iloc[0:8]

,ID,Age,Gender,Height_cm,Weight_kg,BMI,Daily_Steps,Calories_Intake,Hours_of_Sleep,Heart_Rate,Blood_Pressure,Exercise_Hours_per_Week,Smoker,Alcohol_Consumption_per_Week,Diabetic,Heart_Disease
0,1,56,Male,164,81,30.72,5134,1796,8.6,102,137/72,8.1,No,7,No,No
1,2,69,Male,156,82,20.86,12803,1650,4.5,103,129/65,3.7,No,7,No,No
2,3,46,Female,158,65,30.93,16408,1756,4.3,74,127/68,3.2,Yes,0,No,No
3,4,32,Male,197,87,31.19,18420,2359,4.1,116,125/86,8.5,No,5,No,No
4,5,60,Male,157,63,29.37,17351,2556,5.1,111,100/64,8.5,Yes,8,No,No
5,6,25,Female,199,85,31.14,5131,3256,6.5,104,106/79,3.6,No,7,No,No
6,7,78,Male,172,72,32.46,19532,2216,9.6,95,96/86,8.3,Yes,2,Yes,No
7,8,38,Male,178,115,28.62,13057,3262,6.7,73,136/84,8.5,Yes,0,No,No